* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.container {
    width: 75vw;
    height: fit-content;
    /* overflow: hidden; */
    margin: 0 auto;
    color: white;
}
#video {
    width: 100%;
}
hr{
    background-color: white;
    margin: 40px 0;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}

#gallery {
    column-count: 4;
    column-gap: 15px;
}

.item {
    width: 100%;
    display: inline-block;
    margin: 5px 0;
    opacity: 0; 
    transition: opacity .5s;
}

.item[src] {
    opacity: 1;
}

.item img, .item video{
 display:block;
 width: 100%;
}