*, html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #69594a;
}

.container {
    width: 100vw;
    height: 98vh;
    overflow: hidden;
    /* position: relative; */
}

.image-container {
    height: 95%;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes hostUp {
    0% {bottom: -500px;}
    100% {bottom: 0;}
}

.container .host {
    position: absolute;
    bottom: 0;
    left: 0;
    animation-name: hostUp;
    animation-duration: 2s;
}

.host img, #host-person2 {
    height: 350px;
}

#host2 {
    position: absolute;
    bottom: 0;
    right: 60px;
    display: none;
}

.button-container {
    position: absolute;
    height: fit-content;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.fpp {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

#hand-wave {
    scale: 0.9;
    rotate: 0deg;
    transform-origin: bottom;
    display: none;
}

@keyframes myBtn {
    0% {scale: 1;}
    100% {scale: 1.05;}
}

.button-container button {
    padding: 6px 14px;
    margin: 6px 10px;
    display: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 4px 4px 5px;
    background-color: rgb(243, 33, 243);
    cursor: pointer;
    opacity: 0.8;
    animation: myBtn 0.2s linear infinite;
}

.button-container button:hover {
    background-color: rgb(243, 9, 243);
    scale: 1.02;
    animation: none;
}

#bd-girl {
    position: absolute;
    bottom: 0;
    left: 22%;
    display: none;
}

#cover {
    position: absolute;
    background-color: black;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: none;
}